name: CD to Hugging Face

on:
   push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11.9"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip 
          python -m pip install  huggingface_hub

      - name: Check HF CLI 
        run: huggingface-cli

      - name: Deploy to Hugging Face
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          python - << 'EOF'
          from huggingface_hub import HfApi
          api = HfApi(token="${HF_TOKEN}")
          api.upload_folder(folder_path=".", repo_id="Diaure/Futurisys_API_ML", repo_type="space",
          commit_message="CD: update from GitHub main")
          EOF

